<form method="post">

    <div class="card">

        <div class="card-header text-center bg-primary">
            <a href="{{ path('blog_index') }}">
                <h2 class="mb-0 text-white">Blog</h2>
            </a>
        </div>

        <div class="card-body">

            {{ include('default/_flash_messages.html.twig') }}

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <a class="github-auth d-flex align-items-center justify-content-center mb-3 mx-auto" href="{{ path('hwi_oauth_service_redirect', {'service': 'github' }) }}">
                <span class="pr-2">{{ 'app.auth.with'|trans }}</span>
                <i class="fab fa-github fa-3x"></i>
            </a>

            <label for="inputEmail">{{'app.auth.email'|trans}}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">{{'app.auth.password'|trans}}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}



        </div>

        <div class="card-footer text-center">
            <button class="btn btn-primary" type="submit">{{'app.sign_in'|trans}}</button>
        </div>

    </div>

</form>