{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{'app.new_user'|trans}}{% endblock %}

{% block body %}

    {{ form_start(registrationForm, {'attr' : {'class' : 'form-registration'}}) }}
    <div class="card shadow">

        <div class="card-header text-center bg-success">
            <a href="{{ path('blog_index') }}">
                <h2 class="mb-0 text-white">Blog</h2>
            </a>
        </div>

        <div class="card-body">
            {{ form_widget(registrationForm) }}
        </div>

        <div class="card-footer text-center">
            <button class="btn btn-success" type="submit">{{'app.sign_up'|trans}}</button>
        </div>

    </div>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bs-custom-file-input') }}
{% endblock %}