<div class="card my-4">
    <div class="card-header">
        <h5 class="mb-0">Post actions</h5>
    </div>

    {% if is_granted(constant('app\\Entity\\User::ROLE_USER_CONFIRMED')) %}

        <div class="p-3 d-flex justify-content-around">

            <div class="btn-group btn-group-sm w-100" role="group">
                <a href="{{ path('post_rating_up', {'slug' : post.slug}) }}" class="btn btn-outline-success"><i class="fas fa-long-arrow-alt-up"></i>
                    Rating up</a>
                <a href="{{ path('post_rating_down', {'slug' : post.slug}) }}" class="btn btn-outline-danger"><i class="fas fa-long-arrow-alt-down"></i>
                    Rating down</a>
            </div>

        </div>

    {% endif %}

    <hr class="m-0">
    <div class="py-2 px-3 ">
        <small>Total votes: {{ post.ratingUp + post.ratingDown }}</small>
    </div>

    <hr class="m-0">
    <div class="py-2 px-3">
        <small>Rating up: {{ post.ratingUp }}</small>
    </div>

    <hr class="m-0">
    <div class="py-2 px-3">
        <small>Rating down: {{ post.ratingDown }}</small>
    </div>

    <hr class="m-0">
    <div class="py-2 px-3">
        <small>Author:
            <a href="{{ path('user_posts', {'nickname' : post.author.nickname}) }}">{{ post.author.nickname }}</a></small>
    </div>

    <hr class="m-0">
    <div class="py-2 px-3">
        <small>Views: {{ post.views }}</small>
    </div>

    <hr class="m-0">
    <div class="py-2 px-3">
        <small>Updated: {{ post.updatedAt|date('d F Y, H:m') }}</small>
    </div>

    <hr class="m-0">
    <div class="py-2 px-3">
        <small>Created: {{ post.createdAt|date('d F Y, H:m') }}</small>
    </div>
</div>
