<div class="card my-4">
    <div class="card-header">
        <h5 class="mb-0"><i class="fas fa-tags"></i> {{ 'tag.title'|trans }}</h5>
    </div>
    <div class="p-3">

        {% for tag in tags %}
            <a href="{{ path('tag_posts', {'slug' : tag.slug}) }}" class="m-1 btn btn-sm btn-{{ color_by_key(tag.color) }}">
                {{ tag.title }}
                <span class="badge badge-light">{{ tag.posts|length }}</span>
            </a>
        {% endfor %}

    </div>
</div>