{% if app.user %}
    <div class="card my-4">

        <div class="card-header d-flex align-items-center">

            <div class="mr-2">
                {% if app.user.avatar %}
                    <img class="avatar border" src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="">
                {% else %}
                    <div class="no-avatar bg-{{ color_by_key(app.user.color) }}">
                        <span>{{ app.user.nickname|first|upper }}</span>
                    </div>
                {% endif %}

            </div>

            <h5 class="mb-0 {{ is_granted(constant('app\\Entity\\User::ROLE_ADMIN')) ? 'text-danger' : '' }}">
                {{ app.user.nickname }}
            </h5>
        </div>

        <div>

            <div class="p-3">
                {% if is_granted(constant('app\\Entity\\User::ROLE_USER_CONFIRMED')) %}
                    <a href="{{ path('post_new') }}" class="btn btn-success btn-sm my-1">
                        <i class="fas fa-plus"></i> {{ 'post.add_new_post'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('post_new') }}" class="btn btn-success btn-sm my-1 disabled" disabled="">
                        <i class="fas fa-plus"></i> {{ 'post.add_new_post'|trans }}
                    </a>
                {% endif %}

                <a href="{{ path('user_edit', {'nickname' : app.user.nickname}) }}" class="btn btn-secondary btn-sm my-1">
                    <i class="fas fa-cogs"></i> {{ 'app.auth.profile'|trans }}
                </a>

                {% if post is defined and is_author(post) %}
                    <a href="{{ path('post_edit', {slug : post.slug}) }}" class="btn btn-primary btn-sm my-1"><i class="far fa-edit"></i>
                        {{ 'app.edit'|trans }}</a>
                    {{ include('post/_delete_form.html.twig', {post: post}, with_context = false) }}
                {% endif %}

                <a href="{{ path('user_posts', {'nickname' : app.user.nickname}) }}" class="btn btn btn-info btn-sm my-1">
                    {{ 'post.my_posts'|trans }} <span class="badge badge-light">{{ app.user.posts|length }}</span>
                </a>

                <a href="{{ path('user_bookmarks', {'nickname' : app.user.nickname}) }}" class="btn btn btn-warning btn-sm my-1">
                    <i class="far fa-bookmark"></i> {{ 'post.bookmarks.title'|trans }}
                    <span class="badge badge-light">{{ app.user.bookmarks|length }}</span>
                </a>

            </div>

        </div>

    </div>
{% endif %}