<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'app.title'|trans }}!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block body %}
    <div class="container">
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm rounded">
                <div class="container">
                    <a class="navbar-brand badge badge-{{ random_color() }}" href="{{ path('blog_index') }}">
                        <h4 class="mb-0">
                            {{ 'app.blog'|trans }}
                        </h4>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('blog_index') }}">{{ 'navbar.nav-item.home'|trans }}
                                    <span class="sr-only">(current)</span>
                                </a>

                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
                                    <i class="fas fa-search"></i> {{ 'post.search'|trans }}
                                </a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('api_entrypoint') }}">API</a>
                            </li>

                            <li class="nav-item dropdown">
                                <span class="nav-link active dropdown-toggle text-info" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-globe"></i>
                                </span>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    {% for code, name in locales() %}
                                        <a class="dropdown-item {{ app.request.get('_locale') == code ? 'active' : '' }}" href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: code})) }}">
                                            {{ name|capitalize }}
                                        </a>
                                    {% endfor %}


                                </div>
                            </li>

                        </ul>

                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary btn-sm">({{ app.user.nickname }}) {{ 'app.sign_out'|trans }}</a>
                        {% else %}
                            <div class="btn-group btn-group-sm" role="group">
                                <a href="{{ path('app_login') }}" class="btn btn-outline-info">{{ 'app.sign_in'|trans }}</a>
                                <a href="{{ path('app_register') }}" class="btn btn-info">{{ 'app.sign_up'|trans }}</a>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </nav>
        {% endblock %}



        {{ include('default/_flash_messages.html.twig') }}
        {{ include('registration/_active_message.html.twig') }}

        {% block main %}
            <div class="row">
                <div class="col-md-8">

                    {% block content %}
                    {% endblock %}

                </div>

                <div class="col-md-4">

                    {% block sidebar %}
                        <div class="">

                            {#                            {{ render(controller('App\\Controller\\SecurityController::login')) }}#}

                            {{ include('default/user-block.html.twig') }}

                            {{ render(controller('App\\Controller\\TagController::list')) }}
                        </div>
                    {% endblock %}

                </div>
            </div>

        {% endblock %}


        {% block footer %}
{#            <footer class="py-3 bg-dark ">#}
{#                <div class="container">#}
{#                    <p class="m-0 text-center text-white">Blog 2020</p>#}
{#                </div>#}
{#            </footer>#}

        {% endblock %}
    </div>
{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
