{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}

<div class="card my-4">
    <div class="card-header text-center">
        <h3>{{ header }}</h3>
    </div>

    <div class="card-body">
        {{ form_row(form.title) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.summary) }}
        
        <div class="card my-3">
            <a href="{{ asset('uploads/posts/' ~ post.image) }}" target="_blank">
                <img class="card-img-top" src="{{ asset('uploads/posts/' ~ post.image) }}" alt="">
            </a>

        </div>
        
        {{ form_row(form.image) }}
        {{ form_row(form.content) }}
    </div>

    <div class="card-footer text-center">
        <button class="btn btn-success ">{{ button_label|default('app.save'|trans) }}</button>
    </div>

</div>

{{ form_end(form) }}
