{% extends 'base.html.twig' %}

{% block content %}

    {% block search %}
        {{ include('search/_form.html.twig', {
            route : 'post_search',
            action: path('post_search')
        }) }}
    {% endblock %}

    {% block posts_header %}{% endblock %}

    <div class="post-index post-sniper-bg position-relative">

        {{ include('post/_sniper.html.twig') }}

        <div id="posts">
            {{ include('post/_items.html.twig', {pagination : pagination}) }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mark-js') }}
    {{ encore_entry_script_tags('post') }}
{% endblock %}