{% extends 'base.html.twig' %}

{% block title %}Post {{ post.title }}{% endblock %}

{% block content %}

    <div class="card my-4 ">
        <div class="py-2 px-3">
            <h5 class="d-inline mb-0">{{ 'category.title'|trans }}: </h5>
            {% for category in post.categories %}
                <span class="my-1 badge badge-{{ color_by_key(category.color) }}">
                    <h6 class="mb-0">{{ category.title }}</h6>
                </span>
            {% endfor %}
        </div>
    </div>

    <div class="card my-4 ">

        {% if post.image is not empty %}
            <img class="card-img-top" src="{{ asset('uploads/posts/' ~ post.image) }}" alt="">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <div class="blockquote-footer">{{ post.summary }}</div>

            <hr>

            {{ post.content | raw }}

        </div>

    </div>

    {% if app.user %}
        {{ render(controller('App\\Controller\\PostController::commentForm', {'id': post.id})) }}
    {% endif %}

    {% if post.comments is not empty %}

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <hr>
                <span class="badge badge-secondary"><i class="fas fa-comments"></i> {{ post.comments|length }} {{ 'comment.count_comments'|trans }}</span>

                {% for comment in post.comments %}

                    <div class="bg-white d-flex shadow-sm bd-callout bd-callout-{{ color_by_key(comment.author.color) }} border-{{ color_by_key(comment.author.color) }}">

                        <div class="mr-4 no-avatar bg-{{ color_by_key(comment.author.color) }}">
                            <span>{{ comment.author.nickname|first|upper }}</span>
                        </div>

                        <div class="w-100">

                            <div class="mb-2 d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold">
                                {{ comment.author.nickname }}
                            </span>

                                {% if is_author(comment) %}
                                    <div class="d-flex">
                                        <a href="{{ path('comment_edit', {'id' : comment.id}) }}" class="btn btn-outline-primary btn-sm border-0" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ 'app.edit'|trans }}"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="{{ path('comment_delete', {'id' : comment.id, 'post_id' : post.id}) }}" class="btn btn-sm btn-outline-danger border-0" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ 'app.delete'|trans }}"><i class="fas fa-trash"></i></a>
                                    </div>
                                {% endif %}

                            </div>


                            <p>{{ comment.content }}</p>

                            <div class="text-right">
                                <small class="text-muted"><i class="far fa-calendar-alt"></i> {{ comment.createdAt | date('d F Y, H:m') }}
                                </small>
                            </div>

                        </div>


                    </div>

                {% endfor %}
            </div>
        </div>

    {% endif %}


{% endblock %}

{% block sidebar %}

    <div class="">
        {{ include('default/user-block.html.twig', { 'post' : post }) }}

        {{ render(controller('App\\Controller\\CategoryController::list')) }}

        {{ include('default/post-actions-block.html.twig', { 'post' : post }) }}
    </div>

{% endblock %}